.product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  flex-flow: row wrap;
}

.image {
  width: 20rem;
}

.description {
  text-align: justify;
  width: 25rem;
  margin: 0 2rem;
}